[MASTER]
# Python code to execute, usually for sys.path manipulation
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    import-error,
    no-member,
    fixme

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Regexp for a line that is allowed to be longer than the limit
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[BASIC]
# Good variable names
good-names=i,j,k,ex,Run,_,id,db

[TYPECHECK]
# List of members which are set dynamically and missed by pylint
generated-members=REQUEST,acl_users,aq_parent

