fastapi
uvicorn[standard]
gunicorn
kokoro-onnx
soundfile
numpy<2.0
python-multipart
torch
torchvision
torchaudio
slowapi
python-magic
sqlalchemy
psutil
loguru
python-dotenv
requests
openai>=1.0.0
--extra-index-url https://download.pytorch.org/whl/cpu
